* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #9fa5af;
  font-style: normal;
  font-weight: 400;
  background: #202428;
}

.container {
  max-width: 1107px;
  margin: 0 auto;
  width: 97%;
}

h1 {
  text-align: center;
  font-size: 35px;
  color: #fff;
  margin-bottom: 30px;
}

.subtitle {
  text-align: center;
  margin-bottom: 10px;
  font-size: 23px;
}

.text {
  max-width: 1050px;
  font-size: 18px;
  color: #9fa5af;
}

.wrapper {
  border: 1px solid #9fa5af;
  padding: 15px 0px 0 0;
  border-left: 0;
}

.item {
  margin-bottom: 30px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: auto;
}

th,
td {
  border-bottom: 1px solid #9fa5af;
  padding: 10px 15px;
  text-align: left;
}


td {
  font-size: 14px;
}

.buttons {
  display: flex;
}

button {
  width: 50%;
  background-color: transparent;
  border: 0;
  font-size: 18px;
  color: #d5ddeb;
  padding: 7px 0;
  cursor: pointer;
}

.confirm {
  background-color: #0e6dfc;
}

.cancel {
  background-color: #6b747b;
}

@media(max-width:500px) {
  h1 {
    font-size: 25px;
  }

  .subtitle {
    font-size: 18px;
  }

  th,
  td {
    padding: 10px;
    font-size: 12px;
  }
}